@import "/src/styles/colours.scss";
@import "/src/styles/spacing.scss";

.container {
    position: relative;
}

.searchButton {
    background-color: $grey;
    border: 0;
    height:1em;
    padding: $smallPadding;
    position: absolute;
    right: 0;

    &:hover {
        background-color: $darkGrey;
    }
}

.postCodeInput {
    outline-color: transparent;
    width: 100%;
}