@import "/src/styles/colours.scss";
@import "/src/styles/spacing.scss";

.container, .wrapper {
    width: 100%;
}

.wrapper {
    position: relative;
}

.searchButton {
    background-color: $grey;
    border: 0;
    padding: $smallPadding;
    position: absolute;
    right: -1.25em;
    top:0;
    height: 100%;
    min-width: 42px;
    &:hover {
        background-color: $darkGrey;
    }
}

.postCodeInput {
    outline-color: transparent;
    width: 100%;
}

.error {
    color: $required;
    margin-top: $medMargin;
}