@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: Gotham,helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: 'Comfortaa', Gotham, helvetica, arial;
}